<h1>Stupid coaching</h1>

<p><%= params["question"] %></p>
<p><i>-You</i></p>

<p class="p-3 mb-2 bg-warning text-dark" style="--bs-bg-opacity: .3;"><strong><%= @answer %></strong><br><i>-Your coach</i></p>


<%= link_to 'Ask another question', ask_path %>
